.graph-and-loading-icon-wrapper {
    position: relative;
}

.loading-icon-wrapper {
    position: absolute;
    width: 100%;
    top: 280px;
}

#graph-container, #graph-container-casic, #graph-container-casc {
    width: 90vw;
    height: 75vh;
    margin: auto;
    background-color: #f5f5f5;
    border: 3px solid lightgrey;
    border-radius: 1em;
}
